*{
  box-sizing: border-box;
}
body{
  background-color: #F7F7F7;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}
.page-wrapper{
  overflow: hidden;
  max-width: 430px;
  margin: auto;
  background-color: #F7F7F7;
  box-shadow: 0px 0px 30px rgba(127, 127, 127, 0.25);
  border-radius: 20px 20px 56px 56px;
}
.container{ 
  max-width: 368px;
  margin: auto;

}
.header {
  color: #fff;
  padding: 34px 49px 122px;
  background: linear-gradient(0deg, rgba(143, 143, 143, 0.6), rgba(0, 0, 0, 0.8)), url('../img/header-bg.jpg') no-repeat  center / cover;
  border-radius: 0px 0px 56px 56px;
}
.hello{
  font-weight:500;
  font-size:24px;
  line-height:26px;
}
.hello-text{
  font-weight:400;
  font-size:20px;
  line-height:24px;
}
.user{
margin-top: -67px;
text-align: center;
background-color:#ffffff;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
border-radius: 12px;
padding-bottom: 25px;
}
.user-name{
margin-top: 14px;
margin-bottom: 15px;
font-weight: 500;
font-size: 20px;
line-height: 0px;
}
.user-avatar{
  margin-top: -49px;
  border-radius: 50%;
  object-fit: cover;
  border: 6px solid #F7F7F7;
}
.user-description{
margin: 0;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color:#000000;
}
.card{
background-color:#ffffff;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
border-radius: 12px;
margin-top: 8px;
margin-bottom: 8px;
padding: 15px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  max-width: 279px;
  margin: auto;
  gap: 5px;
}
.button {
  background-color: #000000;
  max-width: 279px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  flex-shrink: 1;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  gap: 10px;
  margin-bottom: 5px;
 
 
}
.button.vk {
  background-color: #597DA3;
}
.button.tg {
  background-color: #0088CC;
}
.button.yt {
  background-color: #CD201F;
}
.button.gh, 
.button.hh {
   padding-left: 60px;
   justify-content: left;
}

.button.hh {
  background-color: #D6001C;
}
